{% extends "base.html" %}

{% block page %}
<p>
    Default Network: {{base_ip}}{{netmask}}
</p>
<p>
    Interface: {{interface}}
</p>


PossibleAddresses and Networks ({{hosts|length}})
<div>
<textarea rows="100" style="width: 66%; margin-left: 30%">
{% for ip in hosts %}
{{ip}}
{% endfor %}
</textarea>
</div>

Blacklisted Addresses and Networks ({{blacklist|length}})
<div>
<textarea rows=100 style="width: 66%; margin-left: 30%">
{% for ip in blacklist %}
{{ip}}
{% endfor %}
</textarea>
</div>
{% endblock %}